* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#main_page_container {
    /* background-color: lightgreen; */
    display: flex;
    flex-direction: column;
}

#title_bar_container {
    background-color: #40505B;
    padding: 2rem;
    width: 100%;
    height: 8rem;
}

#title_bar_object {
    background-color: #7996AA;
    width: 100%;
    height: 3rem;
    margin-top: 0.7rem;
    border-radius: 100rem;
}

#logo img {
    width: 200px;
    border-radius: 100%;
    position: absolute;
    top: 0%;
    left: 40%;
}

#main_page_body {
    /* background-color: green; */
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
    padding: 1.5rem;
}

.note_title {
    /* background-color: red; */
    margin-top: .5rem;
    margin-bottom: .5rem;
    border-radius: 100rem;
}

logo: https: //github.com/momentum-cohort-2019-09/w4-note-taking-app-daniel-lisa/blob/master/assets/logo.png?raw=true