{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Project:Note{% endblock%}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/ProjectNote.css' %}">
    <script src="{% static 'js/notes_detail.js' %}" defer></script>
</head>

<body>
    <div id="everything_container">
        <div id="sidebar_container">
            <img id="logo" src='{% static "assets/Logo.png" %}'>
            <div id="sidebar_menu">
                <div class="sidebar_button_container"><a class="button_link" href="{% url 'notes_list' %}"><button class="sidebar_button">Home</button></a></div>
                <div class="sidebar_button_container"><a class="button_link" href="{% url 'notes_create' %}"><button class="sidebar_button">Create</button></a></div>
            </div>
        </div>
        <div id="main_page_container">
            <div id="main_page_body">
                <div id="divider"></div>
                <div class="note_container" style="overflow:scroll">{% block content %} {% endblock %}</div>
                <div id="divider"></div>
            </div>
        </div>
    </div>
</body>

</html>