<div class="container_search">
                    <form id="form_search">
                        <h4>Notes:</h4>
                        <input class="input_search" type="text" placeholder="Search">
                    </form>
                    <button id="button_search"><img id="image_search" src='{% static "assets/search-icon-white.png" %}'></button>
                </div>

<div id="container_add">
                    <form id="form_add">
                        <h4>Create New Note:</h4>
                        <input class="input_add" type="text" placeholder="Note Title">
                    </form>
                    <button id="button_add"><img id="image_add" src='{% static "assets/add-icon-round-white.png" %}'></button>
                </div>
