{% extends "ProjectNote/base.html" %}
{% load static %}


{% block title %}Project:Note - {{ note.pk }} - {{ note.title }}{% endblock %}

{% block content %}
    <div id="note_layout">
        {% comment %} <div id="note_controls">
            <div class="divider_horizontal"></div>
            <div class="note_control_button">
                <button type="button" class="button_bulleted_list" onclick="makeItemsBulletedList()" title="Make Text a Bulleted List"><img class="image_bulleted_list" src="{% static 'assets/icon-list-bullet-white.png' %}">NW</button>
            </div>
            <div class="note_control_button">
                <button type="button" class="button_numbered_list" onclick="makeItemsNumberedList()" title="Make Text a Numbered List"><img class="image_numbered_list" src="{% static 'assets/icon-list-number-white.png' %}">NW</button>
            </div>
            <div class="divider_horizontal"></div>
            <div class="note_control_button">
                <button type="button" class="button_leftalign" onclick="leftAlignItems()" title="Left Align Text"><img class="image_leftalign" src="{% static 'assets/icon-align-left-white.png' %}"></button>
            </div>
            <div class="note_control_button">
                <button type="button" class="button_centeralign" onclick="centerAlignItems()" title="Center Align Text"><img class="image_centeralign" src="{% static 'assets/icon-align-center-white.png' %}"></button>
            </div>
            <div class="note_control_button">
                <button type="button" class="button_rightalign" onclick="rightAlignItems()" title="Right Align Text"><img class="image_rightalign" src="{% static 'assets/icon-align-right-white.png' %}"></button>
            </div>
            <div class="divider_horizontal"></div>

        </div> {% endcomment %}
        <div id="note_title">
            <h3>{{ note.title }}</h3>
        </div>
        <div id="note_description_container">
            {% if note.description %}
                <p id="note_description">
                    {{ note.description }}
                </p>
            {% endif %}
        </div>
        <div id="note_list_container">
            <ol id="note_list">
                {% for item in items.all %}
                    <li id="note_list_item">
                        {{ item.body }}
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}